system {
    host-name vr-device;
    root-authentication {
        encrypted-password "$1$eASEA2cq$c1TkoxgDnKV6auHCSLNoa."; ## SECRET-DATA
    }
    login {
        user lab {
            uid 2000;
            class super-user;
            authentication {
                encrypted-password "$1$OVZ1DkLF$qxw7Ai87BoypT40Pf92Cz1"; ## SECRET-DATA
            }
        }
        user regress {
            uid 928;
            class super-user;
            shell csh;
            authentication {
                encrypted-password "$1$qHvYyz/L$APuGxYN3RusfJzAuN/IaS0"; ## SECRET-DATA
            }
        }
    }
    services {
        ftp;
        ssh;
        telnet;
    }
    syslog {
        file messages {
            any any;
        }
    }
}
interfaces {
    ge-0/0/1 {
        description "Peer 1 to R1";
        unit 0 {
            family inet {
                address 172.27.0.30/30;
            }
        }
    }
    ge-0/0/2 {
        description "CE3 to R1";
        unit 0 {
            family inet {
                address 172.27.0.34/30;
            }
        }
    }
    ge-0/0/3 {
        description "Transit 1 to R2";
        unit 0 {
            family inet {
                address 172.27.0.38/30;
            }
        }
    }
    ge-0/0/4 {
        description "VPLS CE1 to R2";
        unit 0 {
            family inet {
                address 192.168.1.1/24;
            }
        }
    }
    ge-0/0/5 {
        description "Customer 1 to R3";
        unit 0 {
            family inet {
                address 172.27.0.58/30;
            }
        }
    }
    ge-0/0/6 {
        description "VPLS CE1 to R4";
        unit 0 {
            family inet {
                address 192.168.1.2/24;
            }
        }
    }
    ge-0/0/7 {
        description "CE2 MPLS VPN";
        unit 0 {
            family inet {
                address 172.27.0.42/30;
            }
        }
    }
    ge-0/0/8 {
        description "CE1 MPLS VPN";
        unit 0 {
            family inet {
                address 172.27.0.46/30;
            }
        }
    }
    ge-0/0/9 {
        description "Customer 2 to R5";
        unit 0 {
            family inet {
                address 172.27.0.50/30;
            }
        }
    }
    ge-0/0/10 {
        description "VPLS CE2";
        unit 0 {
            family inet {
                address 192.168.1.3/24;
            }
        }
    }
    ge-0/0/11 {
        unit 0 {
            family inet {
                address 10.0.0.1/30;
            }
        }
    }
    ge-0/0/12 {
        description "connection to CE1";
        unit 0 {
            family inet {
                address 10.0.0.2/30;
            }
        }
    }
    ge-0/0/13 {
        unit 0 {
            family inet {
                address 138.1.2.7/24;
            }
        }
    }
    lo0 {
        unit 1 {
            family inet {
                address 174.100.0.1/32;
            }
        }
        unit 2 {
            family inet {
                address 175.100.0.1/32;
            }
        }
        unit 3 {
            family inet {
                address 176.100.0.1/32;
            }
        }
        unit 4 {
            family inet {
                address 177.100.0.1/32;
            }
        }
    }
}
policy-options {
    policy-statement export-from-Customer {
        from {
            protocol static;
            route-filter 176.100.0.0/16 orlonger;
        }
        then accept;
    }
    policy-statement export-from-Customer2 {
        from {
            protocol static;
            route-filter 177.100.0.0/16 orlonger;
        }
        then accept;
    }
    policy-statement export-from-Provider {
        from {
            protocol static;
            route-filter 174.100.0.0/16 orlonger;
        }
        then accept;
    }
    policy-statement export-from-Transit {
        from {
            protocol static;
            route-filter 175.100.0.0/16 orlonger;
        }
        then accept;
    }
}
security {
    forwarding-options {
        family {
            inet6 {
                mode packet-based;
            }
            mpls {
                mode packet-based;
            }
            iso {
                mode packet-based;
            }
        }
    }
}
routing-instances {
    L3VPN-CE1 {
        instance-type virtual-router;
        interface ge-0/0/8.0;
        interface ge-0/0/11.0;
    }
    L3VPN-CE2 {
        instance-type virtual-router;
        interface ge-0/0/7.0;
        interface ge-0/0/12.0;
    }
    L3VPN-CE3 {
        instance-type virtual-router;
        interface ge-0/0/2.0;
    }
    VPLS-CE1 {
        instance-type virtual-router;
        interface ge-0/0/4.0;
        interface ge-0/0/6.0;
    }
    VPLS-CE2 {
        instance-type virtual-router;
        interface ge-0/0/10.0;
    }
    customer1 {
        instance-type virtual-router;
        interface ge-0/0/5.0;
        interface lo0.3;
        routing-options {
            static {
                route 176.100.0.0/24 reject;
                route 176.100.1.0/24 reject;
                route 176.100.2.0/24 reject;
                route 176.100.3.0/24 reject;
                route 176.100.4.0/24 reject;
                route 176.100.5.0/24 reject;
                route 176.100.6.0/24 reject;
                route 176.100.7.0/24 reject;
                route 176.100.8.0/24 reject;
                route 176.100.9.0/24 reject;
            }
            autonomous-system 64176;
        }
        protocols {
            bgp {
                group ext {
                    type external;
                    export export-from-Customer;
                    neighbor 172.27.0.57 {
                        peer-as 3895077211;
                    }
                }
            }
        }
    }
    customer2 {
        instance-type virtual-router;
        interface ge-0/0/9.0;
        interface lo0.4;
        routing-options {
            static {
                route 177.100.0.0/24 reject;
                route 177.100.1.0/24 reject;
                route 177.100.2.0/24 reject;
                route 177.100.3.0/24 reject;
                route 177.100.4.0/24 reject;
                route 177.100.5.0/24 reject;
                route 177.100.6.0/24 reject;
                route 177.100.7.0/24 reject;
                route 177.100.8.0/24 reject;
                route 177.100.9.0/24 reject;
            }
            autonomous-system 64177;
        }
        protocols {
            bgp {
                group ext {
                    type external;
                    export export-from-Customer2;
                    neighbor 172.27.0.49 {
                        peer-as 3895077211;
                    }
                }
            }
        }
    }
    peer1 {
        instance-type virtual-router;
        interface ge-0/0/1.0;
        interface lo0.1;
        routing-options {
            static {
                route 174.100.0.0/24 reject;
                route 174.100.1.0/24 reject;
                route 174.100.2.0/24 reject;
                route 174.100.3.0/24 reject;
                route 174.100.4.0/24 reject;
                route 174.100.5.0/24 reject;
                route 174.100.6.0/24 reject;
                route 174.100.7.0/24 reject;
                route 174.100.8.0/24 reject;
                route 174.100.9.0/24 reject;
            }
            autonomous-system 64174;
        }
        protocols {
            bgp {
                group ext {
                    type external;
                    export export-from-Provider;
                    neighbor 172.27.0.29 {
                        peer-as 3895077211;
                    }
                }
            }
        }
    }
    transit1 {
        instance-type virtual-router;
        interface ge-0/0/3.0;
        interface lo0.2;
        routing-options {
            static {
                route 175.100.0.0/24 reject;
                route 175.100.1.0/24 reject;
                route 175.100.2.0/24 reject;
                route 175.100.3.0/24 reject;
                route 175.100.4.0/24 reject;
                route 175.100.5.0/24 reject;
                route 175.100.6.0/24 reject;
                route 175.100.7.0/24 reject;
                route 175.100.8.0/24 reject;
                route 175.100.9.0/24 reject;
            }
            autonomous-system 64175;
        }
        protocols {
            bgp {
                group ext {
                    type external;
                    export export-from-Transit;
                    neighbor 172.27.0.37 {
                        peer-as 3895077211;
                    }
                }
            }
        }
    }
}
